<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes Prediction</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="\static\css\style.css">
</head>

<body>
    <div class="background-image">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Diabetes Predictor</a>
        <button id="predictButton" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="output"></div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row justify-content-center w-full">
            <div class="col-lg-8 col-md-10">
                <div class="card card-transparent shadow custom-card">
                    <div class="card-body ">
                        <h1 class="card-title text-center text-primary mb-5">Diabetes Prediction Model</h1>
                        <form id="prediction-form" method="POST" action="run_model">

                            <div class="row">
                                <div class="col">
                                    <div class="form-group text-center text-center">
                                        <label for="age" class="font-weight-bold">Age</label>
                                        <input type="number" class="form-control" id="age" name="age" required>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group text-center">
                                        <label for="gender"  class="font-weight-bold">Gender</label>
                                        <select id="gender" name="gender" class="form-control" required>
                                            <option value="F">Female</option>
                                            <option value="M">Male</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group text-center">
                                        <label for="height"  class="font-weight-bold">Height</label>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group text-center">
                                                    <input type="text" class="form-control" id="feet" name="feet" placeholder="feet" required>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group text-center">
                                                    <input type="text" class="form-control" id="inches" name="inches" placeholder="inches" required>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group text-center">
                                        <label for="weight"  class="font-weight-bold">Weight</label>
                                        <input type="text" class="form-control" id="weight" placeholder="kg" name="weight" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group text-center">
                                        <label for="Hypertension"  class="font-weight-bold">Hypertension</label>
                                        <select id="hypertension" name="hypertension" class="form-control" required>
                                            <option value="N">No</option>
                                            <option value="Y">Yes</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group text-center">
                                        <label for="heart_disease"  class="font-weight-bold">Heart Disease</label>
                                        <select id="heart_disease" name="heart_disease" class="form-control" required>
                                            <option value="N">No</option>
                                            <option value="Y">Yes</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group text-center">
                                        <label for="smoking_history"  class="font-weight-bold">Smoking History</label>
                                        <select id="smoking_history" name="smoking_history" class="form-control" required>
                                            <option value="N">No</option>
                                            <option value="Y">Yes</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group text-center">
                                        <label for="HbA1c_level"  class="font-weight-bold">HbA1c Level</label>
                                        <input type="text" class="form-control" id="HbA1c_level" name="HbA1c_level"
                                            required>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group text-center">
                                        <label for="blood_glucose_level"  class="font-weight-bold">Blood Glucose Level</label>
                                        <input type="number" class="form-control" id="blood_glucose_level"
                                            name="blood_glucose_level" required>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <button type="submit" class="btn btn-primary btn-block" id="predictButton">Predict</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <footer class="footer mt-5 py-3 bg-dark">
        <div class="container text-center text-white">
            <span>&copy; 2024 Diabetes Prediction. All rights reserved.</span>
        </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="\static\js\script.js"></script>

</body>

</html>